{% extends "main_page_base.html" %}

{% block title %}Money Flow - Add transaction{% endblock %}

{% block main %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
            <h1 class="h2">New transaction</h1>
        </div>

        <form method="POST">
            {% if get_flashed_messages() %}
                <div class="modal fade" id="modal">
                    <div class="modal-dialog modal-title">
                        {% for message in get_flashed_messages() %}
                            <div class="alert alert-warning">
                                {{ message }}
                                <button type="button" class="close" data-dismiss=" modal">x</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <script>$("#modal").modal("show")</script>
            {% endif %}

            <div class="d-flex flex-row ml-2">
                <label for="property_1" class="h4 p-1">
                    Type:
                    <input id="property_1" name="type" class="ml-3 font-weight-light small" type="text" placeholder="Expense or income" autocomplete="off">
                </label>
            </div>
            <div class="d-flex flex-row ml-2">
                <label for="property_2" class="h4 p-1">
                    Date:
                    <input id="property_2" name="date" class="ml-3 font-weight-light small" type="date" placeholder="transaction committing date" autocomplete="off">
                </label>
            </div>
            <div class="d-flex flex-row ml-2">
                <label for="property_3" class="h4 p-1">
                    Name:
                    <input id="property_3" name="name" class="ml-3 font-weight-light small" type="text" placeholder="Transaction name" autocomplete="off">
                </label>
            </div>
            <div class="d-flex flex-row ml-2">
                <label for="property_4" class="h4 p-1">
                    Amount:
                    <input id="property_4" name="amount" class="ml-3 font-weight-light small" type="number" placeholder="Integer positive value" autocomplete="off">
                </label>
            </div>
            <div class="d-flex flex-row ml-2">
                <label for="property_5" class="h4 p-1">
                    Currency abbreviation:
                    <input id="property_5" name="currency" class="ml-3 font-weight-light small" type="text" placeholder="RUB, USD or EUR" autocomplete="off">
                </label>
            </div>
            <div class="d-flex flex-row ml-2">
                <label for="property_5" class="h4 p-1">
                    Category:
                    <input id="property_5" name="category" class="ml-3 mr-1 font-weight-light small" type="text" placeholder="One of your categories" autocomplete="off">
                    - leave blank if you add income
                </label>
            </div>

            <div class="d-flex flex-row">
                <a class="btn btn-secondary" href="{{ url_for("index") }}">Cancel</a>
                <input class="btn btn-primary ml-2" type="submit" value="Add transaction">
            </div>
        </form>
    </main>
{% endblock %}
